<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819534973944-a5pajpk17f6rktgdpbucbrkgtnmp8gec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819534973944-a5pajpk17f6rktgdpbucbrkgtnmp8gec</string>
	<key>API_KEY</key>
	<string>AIzaSyCyBd5KE_6hnKNuPUMEGN92XSbrWN7j83E</string>
	<key>GCM_SENDER_ID</key>
	<string>819534973944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.direction</string>
	<key>PROJECT_ID</key>
	<string>direction-irrigation</string>
	<key>STORAGE_BUCKET</key>
	<string>direction-irrigation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819534973944:ios:b827cc808d42bdd9c7240d</string>
</dict>
</plist>